<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Paytm Automation" parallel=“tests”>
  <test name="Shopping Bag- Edit Screen1">
  <parameter name=“port” value=“4723”></parameter>
  <parameter name=“device” value=“192.168.1.33:5757”></parameter>
    <classes>
      <class name="scenarios.TestHomeScreen"/>
    </classes>
  </test>
  <test name="Shopping Bag- Edit Screen2">
  <parameter name=“port” value=“4723”></parameter>
  <parameter name=“device” value=“192.168.1.33:5757”></parameter>
    <classes>
      <class name="scenarios.TestHomeScreen"/>
    </classes>
  </test>
</suite>